{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{% block title %}PyRecipes{% endblock %}</title>
	<!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<link rel="stylesheet" href="{% static 'recipes/style.css' %}">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	{% block head %}{% endblock %}
</head>
<body>

	<nav>
		<div class="nav-wrapper teal darken-2">
		  <a href="{% url 'recipes:index' %}" class="brand-logo">Recipe Book</a>
		  <ul id="nav-mobile" class="right hide-on-med-and-down">
		    <li><a href="{% url 'recipes:new' %}">Create</a></li>
		  </ul>
		</div>
	</nav>
        
	<header class="container">
		{% block header %}
		{% endblock %}
	</header>
	<section id="content" class="container">
		{% block content %}
		{% endblock %}
	</section>
	<footer class="footer">{% block footer %}{% endblock %}</footer>
</body>
</html>